@import url('color.lessimport');

@meColor: saturate(@darkRed, 20%);
@otherColor: fade(@red, 100%);

#messages {
  padding: 10px;
}

.message {
  width: 90%;
  float: left;
  background: @otherColor;
  padding: 10px;
  margin: 10px;
  color: white;
  position: relative;

  &.me {
    background: @meColor;
    float: right;

    &:after {
      width: 20px;
      height: 20px;
      border-top: 15px solid transparent;
      border-left: 10px solid @meColor;
      display: block;
      content: ' ';
      position: absolute;
      right: -20px;
      bottom: 0;
      z-index: 10;
    }
  }

  &:not(.me) {
    &:before {
      width: 20px;
      height: 20px;
      content: ' ';
      display: block;
      position: absolute;
      left: -20px;
      bottom: 0;
      border-top: 15px solid transparent;
      border-right: 10px solid @otherColor;
    }
  }

  .name {
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid fade(white, 50%);
  }
}

#logout {
  background: darken(@teal, 10%);

  &:hover {
    color: @red;
  }
}

#chat_box {
  background: darken(@teal, 10%);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  form {
    padding: 0;
    margin: 0;
  }

  input {
    display: inline;
  }

  #message {
    width: 80%;
    margin: 0;
    border: 0;
  }

  input[type=submit] {
    width: 18%;
    padding: 11px;
    margin-left: 3px;
    border: 0;
    background: @red;
    font-size: 0.8em;
    color: white;
  }
}