<template name="layout">
  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Chatty</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#" id="logout">Log out</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <main class="nav-pad">
    {{> yield }}
  </main>
</template>
